/* CSS Document */
/*---------- reset ----------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0; outline:0;vertical-align:baseline; background:transparent; margin:0; padding:0;font-size:100%}
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video{display:block}
ul, li, ol{list-style:none; background:transparent}
h1, h2, h3, h4, h5, h6{font-weight:400; clear:both}
a, a:hover{text-decoration:none}
blockquote{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:none}
input[type="submit"]:focus, input[type="button"]:focus{outline:none}
select{color:#242933;border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;}
:focus{outline:0}
a img, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner{border:0}
body{-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;font-size:14px;background:#f0f0f0;margin:0 auto;font-family:Helvetica Neue, Helvetica , "Hiragino Sans GB", "Microsoft YaHei",Arial, sans-serif}
/*p{margin:15px 0}*/
img{ border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
svg:not(:root) { overflow: hidden; }
i{display:inline-block;vertical-align:middle}
label{vertical-align:middle}
.clearfix{*zoom:1;}
.clearfix:after{display: block;clear: both;height: 0;font-size: 0;line-height: 0;visibility: hidden;content: ""}

body{background: #fff;}
.c-normal{color:#000;}
.c-lightInf{color:#aaaaaa;}
.c-link{color:#4a71aa;}
.c-ascend{color:#ff0900;}
.c-desc{color:#44cc00;}
.hidden{display: none;}
.dataup{color:#e62417;}
.datadown{color:#349900;}
/*表格*/
table{border-collapse:collapse; border-spacing:0}
table th{font-weight:normal; }
td,th{vertical-align: middle;}
/*main*/
#menu{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    height: 35px;
    width: 100%;
    /*margin-bottom: 20px;*/
}
.menu_type{
    display: inline-block;
    width: 15%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: #A5A5A5;
}
#menu .pick{
    color: #ff9422;
    border-bottom: 2px solid #ff9422;
}
#MA{
    height: 20px;
    line-height: 20px;
}
#MA span{
    padding-right: 3px;
    font-size: 10px;
}
.colorMA5{
    color: #ff9700;
}
.colorMA10{
    color: #00B4ff;
}
.colorMA20{
    color: #d900ff;
}
#calMA{
    height: 20px;
}
#calMA span{font-size: 10px;}
canvas{
    cursor: default;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}







